<!--Body-->

<div class="card-body text-primary" style="margin-top: 80px;">
    
</div>

<div class="jumbotron">
    <label style="font-size: 50px;"> <b>TICKET</b></label>
    <div class="row">
        
        <div class="col">
           
            <div class="img-thumbnail">
                <img src="./assets/kartikeya.jpg" style="height: 30%; width: 20%;"/>
                <label style="font-size: 25px;"> <b>SEAT NO: S-20 <p>SCREEN: 1,9:00Am</p></b></label> 
                
            </div>
        </div>
        
        
        
         
        
    </div>
     
    
    
    
</div>

<!--Footer-->

<div class="card-footer bg-transperent border-info">
 @Copyright 2022 Prepared By: Nikunj Soni
</div>



 