<!--Body-->

<div class="card-body text-primary" style="margin-top: 80px;">
    
    </div>
    
    <label style="font-size: 50px;"> <b>KARTIKEYA 2</b></label>
    <div class="row">
        <img class="d-block w-100" src="./assets/kartikeya.jpg"/>
    </div>
    <div class="col">
        <label style="font-size: 20px;"> <b>Director: </b>Chandoo Mondeti</label><br>
        <label style="font-size: 20px;"> <b>Written by: </b>Chandoo Mondeti</label><br>
        <label style="font-size: 20px;"> <b>Dialogue by: </b>Manibabu Karanam</label><br>
        <label style="font-size: 20px;"> <b>Starring: </b>	
            Nikhil Siddhartha,Anupama Parameswaran,Anupam Kher,Srinivasa Reddy</label><br>
            <label style="font-size: 50px;"> <b>Price: </b>220/-</label><br>
       
        </div>

    <div class="col">
        <label style="font-size: 20px;"> <b>SHOW TIMIMMGS: </b></label><br>
        <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i> 9:00am </button>    
            
        <button type="button" class="btn btn-secondary" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i> 12:00pm </button>   <br> 
            
        <button type="button" class="btn btn-info" style="height: fit-content; width:  600px;" (click)="btnClick();"><i class="fa fa-ticket"></i> 3:00pm </button> 

        <button type="button" class="btn btn-success" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> 6:00pm </button> 
    </div>

    <!--Footer-->
    
    <div class="card-footer bg-transperent border-info">
     @Copyright 2022 Prepared By: Nikunj Soni
    </div>
    
    
    
     