<h2>User List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Country</th>
            <th>Login</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.password}}</td>
            <td>{{u.country}}</td>
            <td>{{u.login}}</td>
        </tr>
    </tbody>
</table>