<h1>Medicine Details</h1>

 
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-id-card"></i>Id</th>
                <th><i class="fa fa-image"></i>Image</th>
                <th><i class="fa fa-user"></i>Name</th>
                <th><i class="fa fa-pen"></i>Description</th>
                <th><i class="fa fa-info"></i>Category</th>
                <th><i class="fa fa-rupee-sign"></i>Price</th>
                
                <th><i class="fa fa-info-circle"></i>Details</th>
                <th><i class="fa fa-pen"></i>Edit Details</th>
                <th><i class="fa fa-trash"></i>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of medicine">
                <td>{{m.id}}</td>
                <td><img src="../assets/{{m.name| lowercase}}.png"   style="height: 20%; width: 40%;" ></td>
                <td>{{m.name | uppercase}}</td>
                <td>{{m.description}}</td>
                <td>{{m.category}}</td>
                <td>{{m.price}}</td>
                
                
                <td> <a href="/medDetails/{{m.id}}"><button class="btn btn-primary"><i class="fa-solid fa-eye"></i>View</button></a> </td>
                <td><a routerLink="/edit-med/{{m.id}}">
                    <button class="btn btn-warning"> <i class="fa-solid fa-pen"></i>Edit</button></a></td>
                <td><button type="button"(click)='DeleteMedicineById(m.id)' class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</button></td>
            </tr>
            
        </tbody>
    </table>

