<!--Body-->

<div class="card-body text-primary" style="margin-top: 80px;">
    
</div>

<div class="jumbotron">

    <div class="row">
        <label style="font-size: 50px;"> <b>PAYMENT GATEWAY</b></label>
    </div>
     
    
    <div class="row" >
       
        <button type="button" class="btn btn-success" style="height: fit-content; width: fit-content; font-size: 40px;"(click)="btnClick();" ><i class="fa fa-ticket"></i>220/- PAY NOW</button> 
        
    </div>
    <div class="row">
        <label style="font-size: 15px;"> This Amount will Be Deducted from Your Bank Account</label><br>
    </div>
   
    
</div>

<!--Footer-->

<div class="card-footer bg-transperent border-info">
 @Copyright 2022 Prepared By: Nikunj Soni
</div>



 